*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header ,.footer{
    background-color: aqua;
    text-align: center;
    padding: 2rem;
    text-transform: capitalize;
    font-weight: 700;
}
.main{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,63,121,1) 43%, rgba(0,212,255,1) 100%);
    padding: 2.5rem;
    height: 70vh;
}
#left{
    border: 2px solid red;
    float: left;
    margin: 0.98rem;
    text-align: center;
}
#right{
    text-align: center;
    margin: 0.98rem;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}