body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.container {
    width: 10%;/* 1) px , 2) % 3)  em, 4) rem and 5) VH & VW */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    margin: 10px 30px;
    background-color: rgb(32, 135, 225);
}
.container img {
    align-items: center; 
    padding: 100px 30px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;

}
.p{
    padding: 100px 50px;
    width: 100px;
    height: 100px;
}
.div button{
    background-color: blue;
}